<div class="main-container">

  <h4 class="text-center"><%= @garde.titre %></h4>

  <div class="grid">

    <div class="row grid-row-header">
      <div class="col-xs-2">Client</div>
      <div class="col-xs-2">Ville</div>
      <div class="col-xs-2">Clinique</div>
      <div class="col-xs-2">Animal</div>
      <div class="col-xs-2">Statut</div>
      <div class="col-xs-2"></div>
    </div>

      <% @consultations.each do |consultation| %>
        <div class="row grid-row">
          <div class="col-xs-2">
            <h5><%= consultation.client_nom %></h5>
            <p><%= consultation.client_mail %></p>
          </div>
          <div class="col-xs-2">
            <p><%= consultation.client_ville %></p>
          </div>
          <div class="col-xs-2">
            <p><%= consultation.client_clinique.nom %></p>
          </div>
          <div class="col-xs-2">
            <h5><%= consultation.animal_nom %></h5>
            <p><%= consultation.animal_espece %></p>
          </div>
            <div class="col-xs-2">
            <h5><%= consultation.statut_envoi %></h5>
          </div>
          <div class="col-xs-2">
            <%= link_to "Modifier", edit_garde_consultation_path(@garde, consultation), class:"btn btn-primary btn-grid-sm"%>
          </div>
        </div>
      <% end %>

  </div>


</div>

