<div class="dashboard-menu-group">

  <div class="dashboard-menus-subcontainer">
    <%= @consultation.animal_nom %>
  </div>

  <div class="card card-sm">

    <div class="row card-header"">
        <div class="col-xs-8"><h4>Animal</h4></div>
        <div class="col-xs-4 text-right">
           <%= link_to "Modifier", "#", class:"btn btn-round btn-theme-dark", style:"margin-top: 7px; margin-right: 0; width: 80px"%>
        </div>
    </div>
    <div class="row">
      <div class="title"></div>
    </div>
    <div class="row">
      <div class="col-xs-3">Espece:</div>
      <div class="col-xs-8"><%= @consultation.animal_espece %></div>
    </div>
    <div class="row">
      <div class="col-xs-3">Sexe:</div>
      <div class="col-xs-8"><%= @consultation.animal_sexe %></div>
    </div>
    <div class="row">
      <div class="col-xs-3">Nom:</div>
      <div class="col-xs-8"><%= @consultation.client_nom %></div>
    </div>
    <div class="row">
      <div class="col-xs-3">Sexe:</div>
      <div class="col-xs-8"><%= @consultation.client_mail %></div>
    </div>
  </div>

  <div class="card card-sm">
    <div class="row card-header"">
        <div class="col-xs-8"><h4>Propriétaire</h4></div>
        <div class="col-xs-4 text-right">
           <%= link_to "Modifier", "#", class:"btn btn-round btn-theme-dark", style:"margin-top: 7px; margin-right: 0; width: 80px"%>
        </div>
    </div>

    <div class="row">
      <div class="title"></div>
    </div>
    <div class="row">
      <div class="col-xs-3">Nom:</div>
      <div class="col-xs-8"><%= @consultation.client_nom %></div>
    </div>
    <div class="row">
      <div class="col-xs-3">Sexe:</div>
      <div class="col-xs-8"><%= @consultation.client_mail %></div>
    </div>

  </div>

</div>


