<div class="navbar">
  <!-- Right Navigation -->
  <div class="navbar-user">
    <% if user_signed_in? %>
      <div class="avatar">
        <% if !current_user.profile.avatar.nil? %>
          <%= cl_image_tag @profile.avatar, class: "avatar"%>
        <% elsif current_user.profile.role === "admin" %>
          <%= image_tag "avatar-doctor.png", height: 40, padding: 10  %>
        <% elsif  current_user.profile.role === "veterinaire" %>
          <%= image_tag "avatar-doctor.png", height: 40, padding: 10  %>
        <% else %>
          <%= image_tag "dog.png", height: 40, padding: 10  %>
        <% end %>
      </div>
      <div class="text">
        <div style="font-weight: bold">Adrien Cassan</div>
        <div>Vous êtes en garde </div>
      </div>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-menu">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <% if user_signed_in? %>
          <li>
            <%= link_to profile_path(current_user.profile) do %>
                  <i class="fa fa-user"></i> <%= t(".profile", default: "Mon profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Déconnexion") %>
            <% end %>
          </li>
        <% else %>
         <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-item navbar-link" %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

