<div class="grid">
  <div class="row">
    <div class="container-form">
      <%= simple_form_for @profile do |f| %>
        <%= f.error_notification %>
        <div class="form-row">
          <%= f.label "Nom", class: "col-xs-2 form-label-xs" %>
          <%= f.input :last_name, label: false, wrapper_html: {class: "col-xs-10"}, input_html: {class: "form-control-xs"} %>
        </div>
        <div class="form-row">
          <%= f.label "Prenom", class: "col-xs-2 form-label-xs" %>
          <%= f.input :first_name, label: false, wrapper_html: {class: "col-xs-10"}, input_html: {class: "form-control-xs"} %>
        </div>
        <div class="form-row">
          <%= f.label "Adresse", class: "col-xs-2 form-label-xs" %>
          <%= f.input :adr_line1, label: false, placeholder: "Adresse", wrapper_html: {class: "col-xs-10"}, input_html: {class: "form-control-xs", id: "route"} %>
        </div>
        <div class="form-row">
          <div class="col-xs-2 form-label-xs"></div>
          <%= f.input :adr_line2, label: false, placeholder: "Adresse", wrapper_html: {class: "col-xs-10"}, input_html: {class: "form-control-xs", id: "route"} %>
        </div>
        <div class="form-row">
          <%= f.label "Ville", class: "col-xs-2 form-label-xs" %>
          <%= f.input :adr_zip, label: false, placeholder: "Code Postal", wrapper_html: {class: "col-xs-4"}, input_html: {class: "form-control-xs", id: "postal_code"} %>
          <%= f.input :adr_city, label: false, placeholder: "Ville", wrapper_html: {class: "col-xs-6"}, input_html: {class: "form-control-xs", id: "locality"} %>
        </div>
        <div class="form-row">
          <%= f.label "Pays", class: "col-xs-2 form-label-xs" %>
          <%= f.input :adr_country, as: :text, label: false, placeholder: "Pays", wrapper_html: {class: "col-xs-10"}, input_html: {class: "form-control-xs", id: "country", rows: 1} %>
        </div>
        <div class="form-row">
          <label class="col-xs-2 form-label-xs">E-mail</label>
          <div class="col-xs-10 form-group"><%= @profile.user.email %></div>
        </div>
        <div class="form-row">
          <%= f.label "Téléphone", class: "col-xs-2 form-label-xs" %>
          <%= f.input :phone, label: false, placeholder: "Téléphone", wrapper_html: {class: "col-xs-10"}, input_html: {class: "form-control-xs"} %>
        </div>
        <div class="form-row">
          <%= f.label "Avatar", class: "col-xs-2 form-label-xs" %>
          <%= f.input :avatar, label: false, placeholder: "Téléphone", wrapper_html: {class: "col-xs-10"}, input_html: {class: "form-control-xs"} %>
          <%= f.input :avatar_cache, as: :hidden %>
        </div>
        <div class="form-row">
          <%= f.submit "Enregistrer", class: "btn btn-round btn-md btn-theme-dark" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
