
<div class="main-container">

  <div class="login-container">

    <div class="login-left">
      <div class="login-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%=image_path("home.jpeg")%>);">
      </div>
    </div>

    <div class="login-right">


      <div class="login-text">
        <h1>Sos-Veto</h1>
        <p>Plateforme d'échange d'informations entre professionnels</p>
      </div>

      <div class="login-form">

          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">

              <div class="form-app-control-wrapper">
                <div class="form-app-control-icon">
                  <i class="fas fa-user"></i>
                </div>
                <div class="form-app-control-input">
                  <%= f.input :email, label: false, required: false, autofocus: true, placeholder: "Votre adresse e-mail" %>
                </div>
            </div>

            <div class="form-app-control-wrapper">
              <div class="form-app-control-icon">
                <i class="fas fa-lock"></i>
              </div>

              <div class="form-app-control-input">
                <%= f.input :password, label: false, required: false, placeholder: "Mot de passe" %>
              </div>
            </div>

            <div class="form-app-control-wrapper no-background">
              <div class="form-app-control-icon">
                <%= f.input :remember_me, input_html: { checked: true }, label: false, as: :boolean if devise_mapping.rememberable? %>
              </div>
              <div class="form-app-control-input" style="padding-top: 7px;">
                Se souvenir de moi
              </div>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Connectez-vous", class: "btn btn-theme-dark btn-round btn-width", style: "font-size: 20px;" %>
            </div>
        <% end %>

        <div class="login-links">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>

