<div class="card-tabs">
  <div class="tabs-header">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item active">
        <a class="nav-link active" id="pet-tab" data-toggle="tab" href="#pet" role="tab" aria-controls="pet" aria-selected="true">Données Animal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="client-tab" data-toggle="tab" href="#client" role="tab" aria-controls="client" aria-selected="true">Données Client</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" id="consultation-tab" data-toggle="tab" href="#consultation" role="tab" aria-controls="consultation" aria-selected="true">Consultation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="docs-tab" data-toggle="tab" href="#docs" role="tab" aria-controls="docs" aria-selected="false">Documents</a>
      </li>
    </ul>
  </div>

     <%= simple_form_for [@duty, @consultation] do |consultation_builder| %>

      <div class="tabs-form-header">
        <%= consultation_builder.submit 'Save' %>
      </div>


  <div class="tabs-content tab-content" id="myTabContent">


       <div class="tab-pane fade active in" id="pet" role="tabpanel" aria-labelledby="pet-tab">
        <%= render "consultations/tabs/tab_pet", consultation_builder: consultation_builder %>
      </div>

      <div class="tab-pane fade active" id="client" role="tabpanel" aria-labelledby="client-tab">
        <%= render "consultations/tabs/tab_client", consultation_builder: consultation_builder %>
      </div>

       <div class="tab-pane fade" id="consultation" role="tabpanel" aria-labelledby="consultation-tab">
        <%= render "consultations/tabs/tab_consultation", consultation_builder: consultation_builder %>
      </div>

      <div class="tab-pane fade" id="docs" role="tabpanel" aria-labelledby="docs-tab">
        <%= render "consultations/tabs/tab_docs" %>
      </div>


  </div>
  <% end %>
</div>
